@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 2px solid #FF0404;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  color: #333;
}

body {
  height: 100vh;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1204px;
  padding: 0 20px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.header {
  padding: 18px 0;
  padding-bottom: 18px;
}
.header .container {
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .site-logo {
  width: 181.32px;
  height: 26.26px;
}
.header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  list-style-type: none;
}
.header .container ul a {
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 4%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container ul a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container ul a:active {
  color: #FF0404;
  opacity: 0.6;
}
.header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container div div {
  margin-right: 12px;
  gap: 5px;
}
.header .container div a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.76px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container div a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container div a:active {
  color: #FF0404;
  opacity: 0.6;
}

.hero {
  width: 100%;
  background-color: #333;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .container ul {
  margin: 0 auto;
  padding: 8.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}
.hero .container a {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero .container a:hover {
  color: #FF0404;
}

.contact {
  background-color: #ECE8E5;
  padding-bottom: 77px;
}
.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.contact .container h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  padding-top: 70px;
  padding-bottom: 45px;
}
.contact .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 30px;
}
.contact .container ul li {
  width: 500px;
  text-align: left;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background-color: #F5F7F9;
}
.contact .container ul li p {
  padding-left: 46px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-family: "Gilroy", "Arial", sans-serif;
}
.contact .container ul li .tel {
  padding-left: 46px;
}
.contact .container ul li .tel a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-family: "Gilroy", "Arial", sans-serif;
}
.contact .container ul li .tel a:hover {
  color: #ff0404;
}
.contact .container ul li .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.contact .container ul li .wrap img {
  margin-right: 15px;
}
.contact .container ul li .wrap p {
  width: 100%;
  max-width: 398px;
}

.footer {
  padding-top: 80px;
  background-color: #333;
}
.footer .container hr {
  margin-bottom: 15px;
  outline: none;
  border: none;
  height: 1px;
  background-color: #666;
}
.footer .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 80px;
}
.footer .container ul {
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container ul li {
  color: #fff;
}
.footer .container ul li h1 {
  font-size: 22px;
  line-height: 26px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 30px;
}
.footer .container ul li hr {
  outline: none;
  border: none;
  width: 34px;
  height: 2px;
  background-color: #ff0404;
  margin-bottom: 30px;
}
.footer .container ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .container ul li p:hover {
  color: #ff0404;
}
.footer .container ul li p img {
  margin-right: 20px;
}
.footer .container ul li .over {
  padding-bottom: 15px;
  margin-bottom: 15px;
}