@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 2px solid #FF0404;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  color: #333;
}

body {
  height: 100vh;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1204px;
  padding: 0 20px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.header {
  padding: 18px 0;
  padding-bottom: 18px;
}
.header .container {
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .site-logo {
  width: 181.32px;
  height: 26.26px;
}
.header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  list-style-type: none;
}
.header .container ul a {
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 4%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container ul a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container ul a:active {
  color: #FF0404;
  opacity: 0.6;
}
.header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container div div {
  margin-right: 12px;
  gap: 5px;
}
.header .container div a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.76px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container div a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container div a:active {
  color: #FF0404;
  opacity: 0.6;
}

.hero {
  width: 100%;
  background-color: #333;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .container ul {
  margin: 0 auto;
  padding: 8.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}
.hero .container a {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero .container a:hover {
  color: #FF0404;
}

.create {
  background-image: url(../imges/bg-img.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.create h1 {
  padding: 73px 0;
  font-size: 55px;
  line-height: 55px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  text-align: center;
}

.count {
  padding: 60px 0;
}
.count .container ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.count .container ul li:not(:last-child) {
  padding-right: 51px;
  margin-right: 51px;
  border-right: 2px solid #EAECEF;
}
.count .container ul li h1 {
  max-width: 108px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 45px;
  line-height: 45px;
}
.count .container ul li p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.48px;
}
.count .container ul li .red {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 0, 0, 0.5)));
  background-image: linear-gradient(to right, white, rgba(255, 0, 0, 0.5));
}
.count .container ul li .yellow {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 0, 0.6)));
  background-image: linear-gradient(to right, white, rgba(255, 255, 0, 0.6));
}
.count .container ul li .blue {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(0, 0, 255, 0.3)));
  background-image: linear-gradient(to right, white, rgba(0, 0, 255, 0.3));
}
.count .container ul li .orange {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 102, 0, 0.5)));
  background-image: linear-gradient(to right, white, rgba(255, 102, 0, 0.5));
}

.main .applications {
  background-color: #333;
}
.main .applications h1 {
  padding-top: 80px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .applications .container {
  padding-bottom: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main .applications .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main .applications input {
  width: 100%;
  max-width: 350px;
  padding: 15px 265px 15px 19px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.main .applications .btns {
  width: 100%;
  max-width: 400px;
}
.main .applications .btns .selects {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .applications .btns .selects .gal {
  width: 12px;
  height: 8px;
  border: 2px solid #ff0404;
  border-top: none;
  border-right: none;
  rotate: -45deg;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.main .applications .btns .selects .show {
  opacity: 1;
}
.main .applications .btns .selects .gal:hover {
  border: 2px solid #949596;
  border-top: none;
  border-right: none;
  opacity: 1;
}
.main .applications .btns .selects .done {
  position: relative;
  right: 0px;
  padding-left: 3px;
  padding-top: 3px;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  opacity: 50%;
  margin-right: 25px;
}
.main .applications .btns .selects p {
  max-width: 281px;
  font-size: 14px;
  line-height: 16px;
}
.main .applications a {
  text-align: center;
  max-width: 400px;
  padding: 12.5px 94.5px;
  background-color: #FF0404;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .applications a:hover {
  -webkit-box-shadow: 0px 20px 35px -10px rgba(255, 45, 45, 0.5019607843);
          box-shadow: 0px 20px 35px -10px rgba(255, 45, 45, 0.5019607843);
}
.main .persons {
  background-color: #f5f7f9;
  padding-bottom: 80px;
}
.main .persons .container {
  padding-top: 80px;
}
.main .persons .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
.main .persons .container ul li {
  text-align: center;
}
.main .persons .container ul li h2 {
  margin-bottom: 12px;
  font-weight: 500;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
}
.main .persons .container ul li p {
  max-width: 162px;
  font-size: 14px;
  line-height: 16px;
}
.main .persons .container ul img {
  background-color: #F2F2F2;
  border-radius: 50%;
  padding: 50px 45px 0 45px;
  margin-bottom: 35px;
}
.main .tarifs {
  padding-bottom: 80px;
  background-color: #e5e5e5;
}
.main .tarifs h1 {
  text-align: center;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-top: 80px;
  margin-bottom: 45px;
}
.main .tarifs .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .tarifs .container ul .blue {
  background-color: #93E7FF;
}
.main .tarifs .container ul .orange {
  background-color: #FFD773;
}
.main .tarifs .container ul .fiolet {
  background-color: #A3A3FF;
}
.main .tarifs .container ul .fiol {
  background-color: #D1CAFF;
}
.main .tarifs .container ul li {
  padding: 40px 20px 20px;
  text-align: center;
  border-radius: 20px;
}
.main .tarifs .container ul li h2 {
  max-width: 140px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.main .tarifs .container ul li img {
  margin-bottom: 39px;
}
.main .tarifs .container ul li p {
  margin: 0 auto;
  max-width: 185px;
  margin-bottom: 15px;
}
.main .tarifs .container ul li h3 {
  margin-bottom: 25px;
}
.main .tarifs .container ul li a {
  padding: 12.5px 32px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .tarifs .container ul li a:hover {
  color: #ff0404;
}
.main .rate {
  background-color: #f5f7f9;
}
.main .rate h1 {
  padding-top: 80px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 45px;
}
.main .rate .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: auto;
  text-align: right;
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
  margin-left: 640px;
}
.main .rate .titles h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.main .rate h2 {
  background-color: #FFD773;
  font-size: 30px;
  line-height: 30px;
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.main .rate .analiz-wrapper {
  margin-bottom: 35px;
  border: none;
}
.main .rate .analiz-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .rate .analiz-wrapper div:not(:last-child) {
  border-bottom: 1px solid #EAECEF;
  margin-bottom: 20px;
}
.main .rate .analiz-wrapper div .titles-wrapper {
  border: none;
}
.main .rate .analiz-wrapper div .img-wrapper {
  border: none;
}
.main .rate .analiz-wrapper img {
  padding-right: 62px;
  border-right: 2px solid #EAECEF;
}
.main .rate .analiz-wrapper img:not(:last-child) {
  margin-right: 62px;
}
.main .rate .titles-wrapper {
  border: none;
  display: inline-block !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: none;
}
.main .rate .titles-wrapper h3 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 10px;
}
.main .rate .titles-wrapper p {
  width: 100%;
  max-width: 431px;
}
.main .rate .h2 {
  background-color: #77CBFA;
}
.main .rate .work-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .rate .work-wrapper div:not(:last-child) {
  border-bottom: 1px solid #EAECEF;
  margin-bottom: 20px;
}
.main .rate .work-wrapper div .img-wrapper {
  border: none;
}
.main .rate .work-wrapper div .titles-wrapper {
  border: none;
}
.main .rate .work-wrapper div .titles-wrapper h3 {
  width: 100%;
  max-width: 390px;
}
.main .rate .work-wrapper img {
  padding-right: 62px;
  border-right: 2px solid #EAECEF;
}
.main .rate .work-wrapper img:not(:last-child) {
  margin-right: 62px;
}
.main .rate .cost-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 650px;
  gap: 59px;
}
.main .rate .cost-wrapper h2 {
  background: none;
  text-align: right;
  font-size: 24px;
  line-height: 24px;
}
.main .rate .btn-wrapper {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 630px;
  gap: 16px;
  margin-top: -20px;
}
.main .rate .btn-wrapper a {
  padding: 7px 26px;
  border: 1px solid #ff0404;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #FF0404;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .rate .btn-wrapper a:hover {
  background-color: #FF0404;
  color: #fff;
}
.main .portfolio {
  background-color: #e5e5e5;
}
.main .portfolio h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 45px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .portfolio .container ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-bottom: 80px;
}
.main .portfolio .container ul li {
  padding: 20px 20px 25px 20px;
  background-color: #F5F7F9;
  border-radius: 20px;
}
.main .portfolio .container ul li img {
  width: 190px;
  height: 258px;
  margin-bottom: 30px;
}
.main .portfolio .container ul li h2 {
  max-width: 120px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 8px;
}
.main .portfolio .container ul li p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .portfolio .container ul li p:hover {
  color: #ff0404;
}

.footer {
  padding-top: 80px;
  background-color: #333;
}
.footer .container hr {
  margin-bottom: 15px;
  outline: none;
  border: none;
  height: 1px;
  background-color: #666;
}
.footer .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 80px;
}
.footer .container ul {
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}
.footer .container ul li {
  color: #fff;
}
.footer .container ul li h1 {
  font-size: 22px;
  line-height: 26px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 30px;
}
.footer .container ul li hr {
  outline: none;
  border: none;
  width: 34px;
  height: 2px;
  background-color: #ff0404;
  margin-bottom: 30px;
}
.footer .container ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .container ul li p:hover {
  color: #ff0404;
}
.footer .container ul li p img {
  margin-right: 20px;
}