@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 2px solid #FF0404;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  color: #333;
}

body {
  height: 100vh;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1204px;
  padding: 0 20px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.header {
  padding: 18px 0;
  padding-bottom: 18px;
}
.header .container {
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .site-logo {
  width: 181.32px;
  height: 26.26px;
}
.header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  list-style-type: none;
}
.header .container ul a {
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 4%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container ul a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container ul a:active {
  color: #FF0404;
  opacity: 0.6;
}
.header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container div div {
  margin-right: 12px;
  gap: 5px;
}
.header .container div a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.76px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container div a:hover {
  color: #FF0404;
  opacity: 0.8;
}
.header .container div a:active {
  color: #FF0404;
  opacity: 0.6;
}

.hero {
  width: 100%;
  background-color: #333;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .container ul {
  margin: 0 auto;
  padding: 8.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}
.hero .container a {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero .container a:hover {
  color: #FF0404;
}

.bg-img {
  width: 100%;
}
.bg-img img {
  width: 100%;
}

.main {
  background-color: #F5F7F9;
}
.main .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  margin-right: 11px;
  padding-top: 80px;
  margin-left: 270px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.main .calc {
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 80px;
}
.main .calc h1 {
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.main .calc .container {
  padding: 45px;
}
.main .calc .container .region {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .calc .container .region .wrapper {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .calc .container .region .wrapper .drop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-right: auto;
}
.main .calc .container .region .dropdown {
  position: relative;
}
.main .calc .container .region .dropdown .drop {
  padding: 8px 12px;
  background-color: #EAECEF;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .calc .container .region .dropdown .drop h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Gilroy", "Arial", sans-serif;
}
.main .calc .container .region .dropdown .drop img {
  margin-left: 10px;
}
.main .calc .container .region .dropdown .down {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #EAECEF;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
}
.main .calc .container .region .dropdown .down p {
  text-align: left;
  padding: 8px 8px;
}
.main .calc .container .region .dropdown .down p:hover {
  background-color: #fff;
  border-radius: 10px;
}
.main .calc .container .region .dropdown .show {
  opacity: 1;
}
.main .calc .container .region .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 520px;
}
.main .calc .container .region .select .galochka {
  width: 12px;
  height: 8px;
  border: 2px solid red;
  border-top: none;
  border-right: none;
  rotate: -45deg;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.main .calc .container .region .select .show {
  opacity: 1;
}
.main .calc .container .region .select .galochka:hover {
  border: 2px solid #949596;
  border-top: none;
  border-right: none;
  opacity: 1;
}
.main .calc .container .region .select .box {
  position: relative;
  right: -25px;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  opacity: 50%;
}
.main .calc .container .range .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 55px;
}
.main .calc .container .range .cost .cost-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}
.main .calc .container .range .cost input[type=range] {
  width: 100%;
  background: red;
}
.main .calc .container .range .cost #input {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(red, white));
  background-image: linear-gradient(to right, white red);
}
.main .calc .container .range .cost .p {
  font-weight: 500;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 10px;
  line-height: 15px;
}
.main .calc .container .range .cost span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  margin-right: 4px;
}
.main .calc .container .range .cost p {
  font-weight: 500;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.main .calc .container .range a {
  margin-left: 470px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  padding: 12px 32px;
  border: 1px solid #FF0404;
  border-radius: 5px;
  color: #FF0404;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .calc .container .range a:hover {
  background-color: #ff0404;
  color: #fff;
}
.main .plan {
  padding-bottom: 46px;
}
.main .plan h1 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-weight: 700;
}
.main .plan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .plan .container .h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .plan .container .ul {
  list-style-type: none;
}
.main .plan .container .ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .plan .container .ul span {
  height: 5px;
  width: 5px;
  display: block;
  border-radius: 50%;
  background-color: #FF0404;
  margin-right: 14px;
}
.main .plan .container .month:not(:last-child) {
  border-right: 2px solid #F0EDEA;
  padding-right: 70px;
}
.main .plan .container .month:not(:last-child) h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .plan .container .month:not(:last-child) ul {
  list-style-type: none;
}
.main .plan .container .month:not(:last-child) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .plan .container .month:not(:last-child) ul a {
  font-weight: 500;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  margin-left: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .plan .container .month:not(:last-child) ul a:hover {
  color: #ff0404;
}
.main .plan .container .month:not(:last-child) ul span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF0404;
  display: block;
}
.main .plan .container li:not(:last-child) {
  margin-bottom: 20px;
}
.main .rate {
  background-color: #e5e5e5;
}
.main .rate h1 {
  padding-top: 80px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 45px;
}
.main .rate .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: auto;
  text-align: right;
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
  margin-left: 640px;
}
.main .rate .titles h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.main .rate h2 {
  background-color: #FFD773;
  font-size: 30px;
  line-height: 30px;
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.main .rate .analiz-wrapper {
  margin-bottom: 35px;
  border: none;
}
.main .rate .analiz-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .rate .analiz-wrapper div:not(:last-child) {
  border-bottom: 1px solid #EAECEF;
  margin-bottom: 20px;
}
.main .rate .analiz-wrapper div .titles-wrapper {
  border: none;
}
.main .rate .analiz-wrapper div .img-wrapper {
  border: none;
}
.main .rate .analiz-wrapper img {
  padding-right: 62px;
  border-right: 2px solid #EAECEF;
}
.main .rate .analiz-wrapper img:not(:last-child) {
  margin-right: 62px;
}
.main .rate .titles-wrapper {
  border: none;
  display: inline-block !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: none;
}
.main .rate .titles-wrapper h3 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 10px;
}
.main .rate .titles-wrapper p {
  width: 100%;
  max-width: 431px;
}
.main .rate .h2 {
  background-color: #77CBFA;
}
.main .rate .work-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .rate .work-wrapper div:not(:last-child) {
  border-bottom: 1px solid #EAECEF;
  margin-bottom: 20px;
}
.main .rate .work-wrapper div .img-wrapper {
  border: none;
}
.main .rate .work-wrapper div .titles-wrapper {
  border: none;
}
.main .rate .work-wrapper div .titles-wrapper h3 {
  width: 100%;
  max-width: 390px;
}
.main .rate .work-wrapper img {
  padding-right: 62px;
  border-right: 2px solid #EAECEF;
}
.main .rate .work-wrapper img:not(:last-child) {
  margin-right: 62px;
}
.main .rate .cost-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 650px;
  gap: 59px;
}
.main .rate .cost-wrapper h2 {
  background: none;
  text-align: right;
  font-size: 24px;
  line-height: 24px;
}
.main .rate .btn-wrapper {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 630px;
  gap: 16px;
  margin-top: -20px;
}
.main .rate .btn-wrapper a {
  padding: 7px 26px;
  border: 1px solid #ff0404;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #FF0404;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .rate .btn-wrapper a:hover {
  background-color: #FF0404;
  color: #fff;
}
.main .applications {
  background-color: #333;
}
.main .applications h1 {
  padding-top: 80px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .applications .container {
  padding-bottom: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main .applications .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main .applications input {
  width: 100%;
  max-width: 350px;
  padding: 15px 265px 15px 19px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.main .applications .btns {
  width: 100%;
  max-width: 400px;
}
.main .applications .btns .selects {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .applications .btns .selects .gal {
  width: 12px;
  height: 8px;
  border: 2px solid #ff0404;
  border-top: none;
  border-right: none;
  rotate: -45deg;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  margin-right: 15px;
}
.main .applications .btns .selects .show {
  opacity: 1;
}
.main .applications .btns .selects .gal:hover {
  border: 2px solid #949596;
  border-top: none;
  border-right: none;
  opacity: 1;
}
.main .applications .btns .selects .done {
  position: relative;
  right: -15px;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  opacity: 50%;
}
.main .applications .btns .selects p {
  max-width: 281px;
  font-size: 14px;
  line-height: 16px;
}
.main .applications a {
  text-align: center;
  max-width: 400px;
  padding: 12.5px 94.5px;
  background-color: #FF0404;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .applications a:hover {
  -webkit-box-shadow: 0px 20px 35px -10px rgba(255, 45, 45, 0.5019607843);
          box-shadow: 0px 20px 35px -10px rgba(255, 45, 45, 0.5019607843);
}
.main .persons {
  background-color: #e5e5e5;
  padding-bottom: 80px;
}
.main .persons .container {
  padding-top: 80px;
}
.main .persons .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
.main .persons .container ul li {
  text-align: center;
}
.main .persons .container ul li h2 {
  margin-bottom: 12px;
  font-weight: 500;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
}
.main .persons .container ul li p {
  max-width: 162px;
  font-size: 14px;
  line-height: 16px;
}
.main .persons .container ul img {
  background-color: #F2F2F2;
  border-radius: 50%;
  padding: 50px 45px 0 45px;
  margin-bottom: 35px;
}
.main .tarifs {
  padding-bottom: 80px;
  background-color: #f5f7f9;
}
.main .tarifs h1 {
  text-align: center;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-top: 80px;
  margin-bottom: 45px;
}
.main .tarifs .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .tarifs .container ul .blue {
  background-color: #93E7FF;
}
.main .tarifs .container ul .orange {
  background-color: #FFD773;
}
.main .tarifs .container ul .fiolet {
  background-color: #A3A3FF;
}
.main .tarifs .container ul .fiol {
  background-color: #D1CAFF;
}
.main .tarifs .container ul li {
  padding: 40px 20px 20px;
  text-align: center;
  border-radius: 20px;
}
.main .tarifs .container ul li h2 {
  max-width: 140px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.main .tarifs .container ul li img {
  margin-bottom: 39px;
}
.main .tarifs .container ul li p {
  margin: 0 auto;
  max-width: 185px;
  margin-bottom: 15px;
}
.main .tarifs .container ul li h3 {
  margin-bottom: 25px;
}
.main .tarifs .container ul li a {
  padding: 12.5px 32px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .tarifs .container ul li a:hover {
  color: #ff0404;
}
.main .portfolio {
  background-color: #e5e5e5;
}
.main .portfolio h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 45px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
}
.main .portfolio .container ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-bottom: 80px;
}
.main .portfolio .container ul li {
  padding: 20px 20px 25px 20px;
  background-color: #F5F7F9;
  border-radius: 20px;
}
.main .portfolio .container ul li img {
  width: 190px;
  height: 258px;
  margin-bottom: 30px;
}
.main .portfolio .container ul li h2 {
  max-width: 120px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 8px;
}
.main .portfolio .container ul li p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .portfolio .container ul li p:hover {
  color: #ff0404;
}

.footer {
  padding-top: 80px;
  background-color: #333;
}
.footer .container hr {
  margin-bottom: 15px;
  outline: none;
  border: none;
  height: 1px;
  background-color: #666;
}
.footer .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 80px;
}
.footer .container ul {
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}
.footer .container ul li {
  color: #fff;
}
.footer .container ul li h1 {
  font-size: 22px;
  line-height: 26px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  margin-bottom: 30px;
}
.footer .container ul li hr {
  outline: none;
  border: none;
  width: 34px;
  height: 2px;
  background-color: #ff0404;
  margin-bottom: 30px;
}
.footer .container ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .container ul li p:hover {
  color: #ff0404;
}
.footer .container ul li p img {
  margin-right: 20px;
}